#cuteHome {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    background-image: url('/home/public/cute-background2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.cuteHome-main {
    height: 80%;
    width: 100%;
    position: relative;
    z-index: 2;
}
.cuteHome-fridge {
    width: 300px;
    height: 450px;
    position: absolute;
    bottom: 0;
    background-image: url('/home/public/cute-nevera.png');
    background-size: cover;
    left: 10%;
}
.cuteHome-details {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 60%;
    pointer-events: none;
}
.cuteHome-furnitures {
    display: flex;
    flex-direction: row;
    height: 150px;
    justify-content: space-evenly;
    align-items: end;
}
.cuteHome-kofi {
    height: 120px;
    width: 200px;
    background-image: url('/home/public/cute-kofi.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    pointer-events: all;
    cursor: pointer;
}
.cuteHome-kofi:hover {
    transform: scale(1.1);
}
.cuteHome-microondas {
    height: 100px;
    width: 200px;
    background-image: url('/home/public/cute-microondas.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.cuteHome-plates {
    height: 100px;
    width: 200px;
    background-image: url('/home/public/cute-platos.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.cuteHome-table {
    height: 100px;
    background-image: url('/home/public/cute-mesaback.png');
    background-size:cover;
}
.cuteHome-avatar {
    height: 400px;
    position: absolute;
    bottom: -1%;
    right: 10%;
    z-index: 8;
}

.cuteHome-bottom {
    height: 20%;
    width: 100%;
    background: #ff0000ab;
    background-image: url('/home/public/cute-mesafront.png');
    background-size: cover;
    position: relative;
    z-index: 4;
}