.cuteHome-easter {
    position:absolute;
    width: calc(120px * var(--sDetails));
    aspect-ratio: 1/1;
    cursor: var(--select), pointer;
    overflow: auto;
}
.site-1 {
    left: 0%;
    top: 0%;
    transform: translateY(-75%);
    background-image: url('/Easter-Egg-f.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.site-2 {
    transform: translate(10%, -80%);
    background-image: url('/Easter-Egg-kofi.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.site-3 {
    right: 0;
    bottom: 55px;
    background-image: url('/Easter-Egg-t.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 20;
}
.cuteHome-easterSound {
    display: absolute;
}