:root {
    --wAvatar: 3357px;
    --hAvatar: 592px;
    --sAvatar: 1.2;
}

#cuteFront {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    overflow: hidden;
}
.hideFront {
    display: none;
}

.cuteFront-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
    filter: blur(2px);
    transition: transform .8s ease .2s;
}
.zoomImg {
    transform: scale(4);
}

.cuteFront-avatar {
    position: absolute;
    z-index: 15;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(var(--wAvatar) * var(--sAvatar) / 4);
    overflow: hidden;
    transition: transform .4s;
}
.hideAvatar {
    transform: translateY(100%) translateX(-50%);
}
.cuteFront-avatar img {
    height: calc(var(--hAvatar) * var(--sAvatar));
    animation: animationAvatar .5s steps(4) infinite;
}
@keyframes animationAvatar {
    to {
        margin-left: calc(var(--wAvatar)* -1 * var(--sAvatar));
    }
}

.cuteFront-text {
    position: absolute;
    z-index: 20;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.2rem;
    color: var(--rouse);
    animation: pulse .8s linear infinite alternate;
    cursor: var(--select), pointer;
    background-color: #ffffff7e;
    border-radius: 20px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.cuteFront-point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--rouse);
}

@keyframes pulse {
    to {
        transform: translateX(-50%) scale(1.1);
    }
}