.cuteHome-modal {
    position: absolute;
    z-index: 6;
    width: 750px;
    height: 400px;
    bottom: 32px;
    background: #a8a2b4;
    left: 50%;
    transform: translateX(-60%);
    border: 8px solid var(--white);
    border-radius: 60px;
    padding: 16px;
}
.cuteHome-modal-btn {
    position: absolute;
    left: 50%;
    top: -8%;
    transform: translateX(-50%);
    height: 50px;
    aspect-ratio: 1/1;
    background-image: url('/cute-home-x.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: var(--select), pointer;
}

.modal-ctr {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    position:relative;
    overflow: hidden;
}
.modal-ctr::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
    display: var(--display);
    width: 100%;
    height: 100%;
    background-image: var(--url);
    background-size: cover;
    background-position: var(--zoom-x) var(--zoom-y);
    background-repeat: no-repeat;
}
.modal-ilustration {
    height: 100%;
    width: 100%;
    object-fit: contain;
}