#cuteContact {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    overflow: hidden;
    left: 100%;
    transition: left .5s linear;
    background: linear-gradient(90deg, rgba(232,224,231,1) 0%, rgba(219,209,226,1) 90%);
}

.cuteContact-workPage {
    position: absolute;
    top: 0;
    z-index: 20;
    background-color: var(--rouse);
    color: #fff;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: var(--select), pointer;
    left: 0;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    border-bottom-right-radius: 40px;
}

.cuteContact-main {
    height: 80%;
    width: 100%;
    position: relative;
    z-index: 2;
}
.cuteContact-message {
    position: absolute;
    top: 15%;
    left: 8%;
    width: 700px;
    height: fit-content;
    border: 5px solid var(--violet);
    border-radius: 50px;
    display: flex;
    padding: 4% 2% 2%;
    gap: 4%;
    background-color: var(--neoWhite);
}

.cuteContact-bottom {
    height: 20%;
    width: 100%;
    background-image: url('/works/works-tableFront.webp');
    background-size: cover;
    position: relative;
    z-index: 4;
}
.cuteContact-tv {
    position: absolute;
    bottom: 60%;
    left: 6%;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 340px;
    z-index: 10;
    text-align: center;
}
.contact-tv {
    width: 80%;
}
.cuteContact-tv > a:hover {
    transform: scale(1.1);
}
.contact-instagram {
    width: 100%;
}
.contact-cara {
    width: 90%;
}
.contact-arstation {
    width: 100%;
    margin-left: -10px;
}
.contact-kofi {
    width: 100%;
    margin-left: 10px;
}
.cuteContact-tv a img {
    width: 100%;
    height: 100%;
    margin: -2px 0;
    object-fit: contain;
}

.cuteContact-bottom figure img {
    height: 100%;
    width: auto;
    object-fit: contain;
}
.cuteContact-ventilator {
    position: absolute;
    left: 2%;
    bottom: 10%;
    z-index: 12;
    height: 180px;
}
.cuteContact-food {
    position: absolute;
    left: 20%;
    bottom: 5%;
    z-index: 12;
    height: 80px;
}
.cuteContact-toys {
    position: absolute;
    left: 35%;
    bottom: 70%;
    height: 160px;
    z-index: 6;
    pointer-events: none;
}
.cuteContact-toys {
    height: 160px;
    width: auto;
}
.cuteContact-bookglass {
    position: absolute;
    right: 10%;
    bottom: 5%;
    height: 100px;
    z-index: 10;
    cursor: var(--select), pointer;
    transition: transform .3s;
}
.cuteContact-bookglass:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px var(--viole));
}

.cuteContact-machine {
    position: absolute;
    right: 1%;
    bottom: 40%;
    z-index: 8;
}