:root {
    --visibleProjects: 3;
}
.cuteHome-marquee {
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    height: 100%;
}

.cuteHome-slideCtr {
    width: 100%;
    position: relative;
    overflow-x: clip;
    height: 100%;
}
.cuteHome-slide {
    width: calc(100%/var(--visibleProjects) * var(--projects));
    height: 100%;
    display: flex;
    margin-left: calc(100%/var(--visibleProjects) * -1);
}
.cuteHome-project {
    width: calc(100%/var(--visibleProjects));
    height: 100%;
    display: flex;
    justify-content: center;
    cursor: var(--select), pointer;
    transition: transform .3s ease;
}
.cuteHome-project-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    transform: translateY(-25%);
}

.cuteHome-project:hover .cuteHome-project-img {
    filter: drop-shadow(0 2px 5px #a8a2b4);
}
.cuteHome-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: var(--select), pointer;
    z-index: 10;
    width: 80px;
    height: 80px;
    background: none;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
}
.cuteHome-btn:hover {
    filter:drop-shadow(0 2px 5px #a8a2b4);
}
.btn-left {
    left: -10%;
    background-image: url('/works/works-arrow.webp');
    animation: rowLeft 1s ease-in-out infinite alternate;
}
.btn-right {
    right: -10%;
    background-image: url('/works/works-arrow.webp');
    transform: translateY(-50%) scaleX(-1);
    animation: rowRight 1s ease-in-out infinite alternate;
}
@keyframes rowRight {
    to {
        right: -12%;
    }
}
@keyframes rowLeft {
    to {
        left: -12%;
    }
}

.active {
    transform: scale(1.1);
    filter: drop-shadow(0 5px 5px #a8a2b4);
    pointer-events: none;
}
