:root {
    --widthL : 2141px;
    --heightL : 413px;
    --scaleL : 1;
}
.load-ctr {
    width: 100%;
    height: 100%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}
.load-ctr-img {
    width: calc(var(--widthL)*var(--scaleL) / 4);
    overflow: hidden;
}
.load-loading {
    height: calc(var(--heightL)*var(--scaleL));
    animation: loading 1s steps(4) infinite;
}
@keyframes loading {
    to {
        margin-left: calc(var(--widthL)*var(--scaleL)*-1);
    }
}