.cuteHome-modal {
    position: absolute;
    z-index: 6;
    width: 500px;
    height: 300px;
    bottom: 16px;
    background: aquamarine;
    left: 50%;
    transform: translateX(-60%);
    border: 8px solid black;
}
.cuteHome-modal-btn {
    position: absolute;
    right: 0;
    padding: 5px 10px;
    background: #ffffff5d;
    cursor: pointer;
    border: none;
    font-size: 1.5rem ;
}