.cuteHome-modal {
    position: absolute;
    z-index: 6;
    width: 700px;
    height: 400px;
    bottom: 32px;
    background: #a8a2b4;
    left: 50%;
    transform: translateX(-60%);
    border: 8px solid #fff;
    border-radius: 60px;
}
.cuteHome-modal-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    background: #ffffff;
    cursor: pointer;
    border: none;
    font-size: 1.5rem ;
}