:root {
    --wAvatar: 3357px;
    --hAvatar: 592px;
    --sAvatar: 1.2;
}

#cuteFront {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    overflow: hidden;
}

.cuteFront-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 10;
    filter: brightness(100%) blur(2px);
}

.cuteFront-avatar {
    position: absolute;
    z-index: 15;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(var(--wAvatar) * var(--sAvatar) / 4);
    overflow: hidden;
    animation: pulseAvatar 2s linear infinite alternate;
}
.cuteFront-avatar img {
    height: calc(var(--hAvatar) * var(--sAvatar));
    animation: animationAvatar .5s steps(4) infinite;
}
@keyframes animationAvatar {
    to {
        margin-left: calc(var(--wAvatar)* -1 * var(--sAvatar));
    }
}

.cuteFront-text {
    position: absolute;
    z-index: 20;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.2rem;
    user-select: none;
    color: var(--rouse);
    animation: pulse .8s linear infinite alternate;
    cursor: pointer;
    background-color: #ffffff7e;
    border-radius: 20px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.cuteFront-point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--rouse);
}

@keyframes pulse {
    to {
        transform: translateX(-50%) scale(1.1);
    }
}
@keyframes pulseAvatar {
    to {
        transform: translateX(-50%) scale(1.05);
    }
}

@keyframes hideFront {
    100% {
        display: none;
    }
}

@keyframes zoomImg {
    100% {
        transform: scale(4);
    }
}
@keyframes hideAvatar {
    100% {
        transform: translateY(100%) translateX(-50%);
    }
}

@media screen and (width < 900px) {
    :root {
        --sAvatar: 1;
    }
}
@media screen and (height < 500px) {
    :root {
        --sAvatar: 1;
    }
}