:root {
    --rouse: #d797aa;
}

@font-face {
    font-family: 'dosis';
    src: url('/public/tipografia/dosis/Dosis-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'playwrite';
    src: url('/public/tipografia/playwrite/PlaywriteDEGrund-VariableFont_wght.ttf');
}

#cuteFront {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    overflow: hidden;
}

.cuteFront-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 10;
    filter: brightness(100%) blur(2px);
}

.cuteFront-avatar {
    position: absolute;
    z-index: 15;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 720px;
    filter: brightness(95%);
    animation: pulse 2s ease-in-out infinite alternate;
}

.cuteFront-text {
    position: absolute;
    z-index: 20;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.2rem;
    user-select: none;
    color: var(--rouse);
    animation: pulse .8s linear infinite alternate;
    cursor: pointer;
    font-family: 'dosis', 'playwrite', sans-serif;
    background-color: #ffffff7e;
    border-radius: 20px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.cuteFront-point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--rouse);
}

@keyframes pulse {
    to {
        transform: translateX(-50%) scale(1.1);
    }
}

@keyframes hideFront {
    100% {
        display: none;
    }
}

@keyframes zoomImg {
    0% {
        filter: brightness(100%)  blur(0);
    }
    100% {
        transform: scale(4);
    }
}
@keyframes hideAvatar {
    100% {
        transform: translateY(100%) translateX(-50%);
    }
}