:root {
  --rouse: #d797aa;
  --select: url('/cursor-select.png');
  --zoomin: url('/cursor-zoomin.png');
  --zoomout: url('/cursor-zoomout.png');
  --neutral: url('/cursor-neutral.png');
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'dosis';
  src: url('/tipografia/dosis/Dosis-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'playwrite';
  src: url('/tipografia/playwrite/PlaywriteDEGrund-VariableFont_wght.ttf');
}

#root {
  height: 100vh;
  font-size: 16px;
  cursor: var(--neutral) 0 0, auto;
}
p, h1, h2 {
  font-family: 'playwrite', 'dosis', sans-serif;
}