:root {
  --rouse: #d797aa;
  --violet: #d8b3cf;
  --neoWhite: #e9dbe9;
  --white: #fff;
  --select: url('/cursor-select.png');
  --zoomin: url('/cursor-zoomin.png');
  --zoomout: url('/cursor-zoomout.png');
  --neutral: url('/cursor-neutral.png');
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'dosis';
  src: url('/tipografia/dosis/Dosis-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'playwrite';
  src: url('/tipografia/playwrite/PlaywriteDEGrund-VariableFont_wght.ttf');
}
body {
  overflow-y: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-track {
  background: var(--white);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--rouse);
  border-radius: 10px;
  border: 2px solid var(--white);
}
#root {
  height: 100vh;
  min-width: 1250px;
  min-height: 650px;
  overflow: hidden;
  position: relative;
  font-size: 16px;
}
p, h1, h2, input, label, textarea, button, caption {
  font-family: 'playwrite', 'dosis', sans-serif;
}
label, body {
  cursor: var(--neutral), auto;
}
input, textarea, button, a {
  cursor: var(--select), pointer;
}

@media screen and (height < 650px) {
  body {
    overflow-y: auto;
  }
}